include ../common/mixins.pug

block variables

doctype html
html(lang="ru")
  block head
    head
      meta(charset="utf-8")
      title Террасы в МСК | #{title}
      meta(content="width=device-width, initial-scale=1" name="viewport")
      meta(content="ie=edge" http-equiv="x-ua-compatible")
      // Global site tag (gtag.js) - Google Analytics
      script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-64326938-2')
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-64326938-2');
      // Google Tag Manager
      script.
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-W3KMK4X');
      link(rel="stylesheet" href="/assets/css/style.css")
      link(rel='apple-touch-icon', sizes='180x180', href='/favicon/apple-touch-icon.png')
      link(rel='icon', type='image/png', sizes='32x32', href='/favicon/favicon-32x32.png')
      link(rel='icon', type='image/png', sizes='16x16', href='/favicon/favicon-16x16.png')
      link(rel='mask-icon', href='/favicon/safari-pinned-tab.svg', color='#5bbad5')
      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css")
      meta(name='msapplication-TileColor', content='#da532c')
      meta(name='theme-color', content='#ffffff')

  body
    // Yandex.Metrika counter
    script.
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
      ym(61596502, "init", {
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true,
      webvisor:true
      });
    noscript
      div
        img(src='https://mc.yandex.ru/watch/61596502', style='position:absolute; left:-9999px;', alt='')
    // /Yandex.Metrika counter
    // Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-W3KMK4X', height='0', width='0', style='display:none;visibility:hidden')
    // End Google Tag Manager (noscript)
    .wrapper
      .maincontent
        block content
        
    script(src="/assets/js/main.min.js")
    block scripts