aside.forms
  form.forms__install#installForm(
    action="/install.php" 
    method="POST"
    onsubmit="ym(61596502,'reachGoal','install')"
  )
    input(type='hidden', name='utm_source', value="<?php $utm_source = $_GET['utm_source']; echo $utm_source; ?>")
    input(type='hidden', name='utm_medium', value="<?php $utm_medium = $_GET['utm_medium']; echo $utm_medium; ?>")
    input(type='hidden', name='utm_campaign', value="<?php $utm_campaign = $_GET['utm_campaign']; echo $utm_campaign; ?>")
    input(type='hidden', name='utm_content', value="<?php $utm_content = $_GET['utm_content']; echo $utm_content; ?>")
    input(type='hidden', name='utm_term', value="<?php $utm_term = $_GET['utm_term']; echo $utm_term; ?>")
    +icon("close", "forms__closeBtn")
    h2.forms__title.title Рассчитать стоимость террасы
    label.input-lbl
      input(type="text" name="phone" required="required")
      span.input-title Ваш номер телефона для связи
    label.input-lbl
      input(type="number" name="area" required="required")
      span.input-title Площадь планируемой террасы в кв.м.?
    label.input-lbl.input-lbl--checkbox.input-lbl--checkbox-install
      input(type="checkbox" name="callProfi" checked).input-checkbox
      span.input-checkbox-fake
      span.input-title--checkbox Вызов специалиста(бесплатно)
    +btnPrice("Расcчитать", "", "installForm", "submit")
    .forms__whatsapp
      a(href="https://api.whatsapp.com/send?phone=+79250906512&text=Здравствуйте!%20Хочу%20рассчитать%20стоимость%20террасы.").forms__whatsapp-link
        .forms__whatsapp-icon 
          +icon("whatsapp", "forms__whatsapp-icon-pic")
        .forms__whatsapp-text Написать в WhatsApp

  form.forms__disinf#disinfForm(
    action="/disinfsubmit.php" 
    method="POST"
    onsubmit="ym(61596502,'reachGoal','disinf')"
  )
    input(type='hidden', name='utm_source', value="<?php $utm_source = $_GET['utm_source']; echo $utm_source; ?>")
    input(type='hidden', name='utm_medium', value="<?php $utm_medium = $_GET['utm_medium']; echo $utm_medium; ?>")
    input(type='hidden', name='utm_campaign', value="<?php $utm_campaign = $_GET['utm_campaign']; echo $utm_campaign; ?>")
    input(type='hidden', name='utm_content', value="<?php $utm_content = $_GET['utm_content']; echo $utm_content; ?>")
    input(type='hidden', name='utm_term', value="<?php $utm_term = $_GET['utm_term']; echo $utm_term; ?>")
    +icon("close", "forms__closeBtn")
    h2.forms__title.title Заказать дезинфекцию
    label.input-lbl
      input(type="text" name="phone" required="required")
      span.input-title Ваш номер телефона для связи
    label.input-lbl
      input(type="number" name="area" required="required")
      span.input-title Площадь планируемой террасы в кв.м.?
    +btnPrice("Заказать", "", "disinfForm", "submit")
    .forms__whatsapp
      a(href="https://api.whatsapp.com/send?phone=+79250906512&text=Здравствуйте!%20Хочу%20продизинфицировать%20террасу.").forms__whatsapp-link
        .forms__whatsapp-icon 
          +icon("whatsapp", "forms__whatsapp-icon-pic")
        .forms__whatsapp-text Написать в WhatsApp
      

  form.forms__service#serviceForm(
    action="/servicesubmit.php" 
    method="POST"
    onsubmit="ym(61596502,'reachGoal','service')"
  )
    input(type='hidden', name='utm_source', value="<?php $utm_source = $_GET['utm_source']; echo $utm_source; ?>")
    input(type='hidden', name='utm_medium', value="<?php $utm_medium = $_GET['utm_medium']; echo $utm_medium; ?>")
    input(type='hidden', name='utm_campaign', value="<?php $utm_campaign = $_GET['utm_campaign']; echo $utm_campaign; ?>")
    input(type='hidden', name='utm_content', value="<?php $utm_content = $_GET['utm_content']; echo $utm_content; ?>")
    input(type='hidden', name='utm_term', value="<?php $utm_term = $_GET['utm_term']; echo $utm_term; ?>")
    +icon("close", "forms__closeBtn")
    h2.forms__title.title Вызвать специалиста
    label.input-lbl
      input(type="text" name="phone" required="required")
      span.input-title Ваш номер телефона для связи
    label.input-lbl
      input(type="number" name="area" required="required")
      span.input-title Площадь террасы в кв.м.?
    .chechbox-wrap
      label.input-lbl.input-lbl--checkbox
        input(type="checkbox" name="repairs").input-checkbox
        span.input-checkbox-fake
        span.input-title--checkbox Ремонт
      label.input-lbl.input-lbl--checkbox
        input(type="checkbox" name="wash").input-checkbox
        span.input-checkbox-fake
        span.input-title--checkbox Мойка
      label.input-lbl.input-lbl--checkbox
        input(type="checkbox" name="winterService" checked).input-checkbox
        span.input-checkbox-fake
        span.input-title--checkbox Комплекс "После зимы"
    +btnPrice("Вызвать", "", "serviceForm", "submit")
    .forms__whatsapp
      a(href="https://api.whatsapp.com/send?phone=+79250906512&text=Здравствуйте!%20Хочу%20заказать%20обслуживание%20моей%20террасы.").forms__whatsapp-link
        .forms__whatsapp-icon 
          +icon("whatsapp", "forms__whatsapp-icon-pic")
        .forms__whatsapp-text Написать в WhatsApp

  form.forms__rent#rentForm(
    action="/rentsubmit.php" 
    method="POST"
    onsubmit="ym(61596502,'reachGoal','rent')"
  )
    input(type='hidden', name='utm_source', value="<?php $utm_source = $_GET['utm_source']; echo $utm_source; ?>")
    input(type='hidden', name='utm_medium', value="<?php $utm_medium = $_GET['utm_medium']; echo $utm_medium; ?>")
    input(type='hidden', name='utm_campaign', value="<?php $utm_campaign = $_GET['utm_campaign']; echo $utm_campaign; ?>")
    input(type='hidden', name='utm_content', value="<?php $utm_content = $_GET['utm_content']; echo $utm_content; ?>")
    input(type='hidden', name='utm_term', value="<?php $utm_term = $_GET['utm_term']; echo $utm_term; ?>")
    +icon("close", "forms__closeBtn")
    h2.forms__title.title Арендовать террасу
    label.input-lbl
      input(type="text" name="phone" required="required")
      span.input-title Ваш номер телефона для связи
    label.input-lbl
      input(type="number" name="area" required="required")
      span.input-title Площадь планируемой террасы в кв.м.?
    label.input-lbl
      input(type="number" name="days" required="required")
      span.input-title На сколько дней?
    
    +btnPrice("Арендовать", "", "rentForm", "submit")
    .forms__whatsapp
      a(href="https://api.whatsapp.com/send?phone=+79250906512&text=Здравствуйте!%20Хочу%20арендовать%20у%20вас%20террасу.").forms__whatsapp-link
        .forms__whatsapp-icon 
          +icon("whatsapp", "forms__whatsapp-icon-pic")
        .forms__whatsapp-text Написать в WhatsApp